
.card {

    position: relative;
    overflow: hidden;
  }
  
  .card:hover img {
    animation: scrollEffect 3s infinite linear;
  }
  
  @keyframes scrollEffect {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  